*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color:beige;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.opening{
    display: flex;
    align-self: center;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}