*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
}
.header {
    display: flex;
    align-items: center;
    padding: 3 rem 2 rem;
    background-color: #0087d4;

    }
    .left{
        flex: 1;
        display: flex;
        align-items: left;
        justify-content: flex-end;
    }
    .btn {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background-color: linear-gradient(
            90deg,
             #007bff, 
             #0056b3);
        color: white;
        font-weight: bold;
        transition: background-color 0.3s ease;

        &:hover {
            transform: translate(2.6px, -2.6px); /* Slightly move the button */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.42);
            background-color: #0056b3;
        }
        .h2 {
        font-size: 2rem;
        font-weight: bold;
        color: #0004f8;
        margin-right: 2rem;
    }
}
.logo {
    max-width: 12rem;
}