*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
    
}
html {
  
    height: 100vh;
    
}
body {
    background-image: url('./luffy_background.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;


}
/* Reset some default styles */
.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* border: 1px; (optional, remove if not needed) */
    justify-content: flex-start;
}
.header {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    justify-content: space-between;
    }
    .left{
        align-items: center;
        display: flex;
        gap: 0.5rem;

        .name{
            font-size: 2rem;
            color: #ffffff;
        }
        .name:hover {
            color: #3f3f3f;
           font-weight: bold;
      }
        }
        
    
    .right {
        display: flex;
        gap: 4rem;
        

    }
        .h2 {
        font-size: 2rem;
        font-weight: bold;
        color: #0004f8;
        margin-right: 2rem;
    }


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
    .btn {
        display: none;
        justify-content: space-evenly;
        padding: 1rem 2rem;
        border-radius: 0.5rem;  
        font-size: 1.5rem;
         background: linear-gradient(
        90deg,
        rgba(112, 112, 112, 0.863) 0%,
        rgba(171, 171, 172, 0.664) 35%,
        rgba(100, 100, 100, 0.979) 100%
      );
        color: rgba(73, 3, 236, 0.664);
        font-weight: bold;
        transition: background-color 0.3s ease;

        &:hover {
            transform: translate(2.6px, -2.6px); /* Slightly move the button */
            box-shadow: 2rem 4rem 6rem rgba(0, 0, 0, 0.42);
            background-color: #000000;   
        
        }

        &:active {
            transform: translate(2.6px, -2.6px); /* Slightly move the button */
            box-shadow: 2rem 4rem 6rem rgba(0, 0, 0, 0.42);
            background-color: #3f3f3ffa;
        }
}

.left-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* show's button when being hovered */
.left-body:hover .btn {
    display: inline-block;
}

.logo {
    justify-self: flex-end;
    max-width: 25rem;
}
.logo-container {
    position: relative;
    display: flex;
    flex-direction: column;
   
    align-items: center;
}

.logo:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease;
}

.footer {
    margin-top: auto;
    display: flex;
    align-self: flex-start;
    color: #000000;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}


